body {
  background-color: black;
}

button {
    height: 70px;
    width: 70px;
    font-weight: bold;
    font-size: large;
}

h3 {
    color: white;
    height: 35px;
    width: 283px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}
table{
    margin-top: 50px;
    margin-left: 50px;
}
